@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@import url('https://fonts.googleapis.com/css?family=Noto Serif');

.nav_bar{
    background-color: #E10000;
    color: #ffff;
}

div.nav_bar{
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img.nav_bar{
    display:inline;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 275px;
}

input:focus, textarea:focus, select:focus.nav_bar{
    background-color: white;
    outline: none;
}

input.nav_bar{
    background-color: white; 
    color: #E10000; 
    width: 400px; 
    padding:2px; 
    display:inline-block;
}

.bottom_bar{
    background-color: #28282B; 
    color: white; 
    padding-top: 50px;
}

img.bottom_bar{
    width: 200px;
}

div.article{
    margin-top: 45px;
    margin-bottom: 75px;
    margin-left: 20%;
    margin-right: 20%;
}

.genre{
    color:#E10000;
    font-family: 'Noto Serif';
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}

.first_paragraph{
    font-family: 'Noto Serif';
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.first_paragraph::first-letter{
    float: left;
    font-size: 70px;
    margin-right: 8px;
}

h1.article{
    font-family: 'Noto Serif';
    font-size: 45px;
    margin-right: 130px; 
    margin-left: 130px; 
    text-align: center;
}

h2.article{
    margin-left: 100px;
    font-family: 'Open Sauce One', sans-serif;
    font-size: 15px;
}

p.article{
    font-family: 'Noto Serif';
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

img.article{
    margin-right: auto; 
    margin-left: auto; 
    width: 600px;
    margin-top: 50px; 
    margin-bottom: 15px; 
}

.genre{
    margin-right: 150px; 
    text-align: left;
}

.type{
    margin-left: 20%;
    margin-right: 20%;
}

h1.type{
    font-family: 'Noto Serif';
    font-size: 45px;
    margin-top: 60px; 
    color:#E10000
}

h2.type{
    font-family: 'Open Sauce One', sans-serif;
    color:#E10000;
    font-size: 15px;
}

hr.type{
    margin-left: 20%;
    margin-right: 20%;
}

.search{
    color:black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    display: block;
    width:428px;
}

.search::after{
    content: "\a";
    white-space: pre;
    z-index: 10000;
}

.search:hover{
    background-color: #E5E4E2;
    z-index: 99999;
}

.type_card{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img.typeinner{
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

h1.typeinner{
    font-family: 'Noto Serif';
    font-size: 27px;
    margin-top: 20px;
}

h2.typeinner{
    font-family: 'Open Sauce One', sans-serif;
    color:#E10000;
    font-size: 15px; 
    margin-top: 10px; 
    padding-bottom: 20px; 
}

div.typeinner{
    margin-top: 20px;
    margin-left: 30px; 
    font-weight: 700;
}

button.more{
    background-color: #E10000;
    font-family: 'Open Sauce One', sans-serif;
    color: white; 
    font-size: 17px;
    padding: 10px; 
    margin-left: auto;
}

h1.comic{
    font-family: 'Noto Serif';
    font-size: 45px;
    margin-right: 100px; 
    margin-left: 100px; 
}

img.comic{
    margin-right: auto; 
    margin-left: auto; 
    width: 720px;
    margin-top: 50px; 
    margin-bottom: 15px; 
}

div.carousel{
    background-color: #28282B;
    margin-right: 20%; 
    margin-left: 20%; 
    margin-top: 40px; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    display:block; 
}

button.carousel{
    background-color: #E10000;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;  
}

img.carousel{
    float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

div.carousel_card{
    background-color: #FAF9F6;
    width: 100%; 
    height: 400px; 
}

h1.carousel_card{
    margin-right: 20px; 
    margin-left: 20px; 
    font-family: 'Noto Serif';
    font-size: 20px;
    font-weight: bold; 
}

h2.carousel_card{
    font-family: 'Open Sauce One', sans-serif;
    color:#E10000;
    font-size: 15px;  
    font-weight: bold;
    margin-right: 20px; 
    margin-left: 20px;
    margin-top: 10px; 
}

.carousel_item{
    font: 1; 
}

.hide{
    display: none; 
}

.logo{
    background-color: #E10000;
}

img.logo{
    padding-top: 0.7%; 
    padding-bottom: 0.7%;
    margin-left: 10%;
    width: 17%;
}

.nav_links{
    font-size: 15px; 
    text-align: center;
    padding: 0.2%;
    background-color: #28282B;
    color: white;
    padding-left: 10%;
    padding-right: 40%;
    align-items: center;
    font-weight: 620; 
}

div.search_bar{
    float: right; 
    margin-right: 8.5%;
    margin-top: 5%; 
}

#searchbar{
    width: 400px;  
    outline: 1px solid black;
}

#searchlist{
    position:absolute;
    background-color: white;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.bottom_icons{
    float: right; 
    margin-top: 2%;
    margin-right: 10%; 
}

.bottom_links{
    font-size: 17px;
}

img.bottom_logo{
    width: 40%;
    margin-left: 20%;
    margin-bottom: 4%; 
}

.dividing_line{
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 640px) {
    img.bottom_logo{
        width: 100%;
        margin-left: 20%;
        margin-bottom: 10%;
    }

    .bottom_links{
        font-size: 0px;
    }
}

@media screen and (max-width: 640px) {
    img.logo{
        width: 50%;
        margin-left: auto; 
        margin-right: auto;
    }

    .nav_links{
        padding-right: 0%;
        padding-left: 10%;
        text-align: center;
        font-size: 12px; 
        padding: 2%;
    }

    div.search_bar{
        float: left; 
        margin-left: 5%;
        margin-top: 8%; 
    }

    .search{
        width: 210px; 
    }

    #searchbar{
        font-size: 17px; 
        width: 210px; 
        outline: 0.5px solid black;
    }

    #searchlist{
        width: 240px; 
    }

    .search:hover{
        width: 238px;
        padding-left: 10px;
        padding-right: 26px;
    }

    .h-6{
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    hr.type{
        margin-left: 5%;
        margin-right: 5%;
    }

    h2.type{
        margin-left: 5%;
        margin-right: 5%;
    }

    /* carousel */
    div.carousel{
        margin-right: 0%; 
        margin-left: 0%;  
    }

    button.carousel{
        border-radius: 0%;
        margin-top: 7px; 
        height: 322px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        padding-left: 2px; 
        padding-right: 2px; 
    }

    img.carousel{
        height: 150px;
    }

    div.carousel_card{
        background-color: #FAF9F6;
        width: 100%; 
        height: 320px; 
    }

    h1.carousel_card{
        font-size: 15px;
        margin-right: 10px; 
        margin-left: 10px;
    }
    
    h2.carousel_card{
        font-size: 12px;  
        margin-right: 10px; 
        margin-left: 10px;
    }

    /* horizontal cards */
    .type_card{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 2%;
    }

    img.typeinner{
        float: left;
        width:  100px;
        height: 200px;
        object-fit: cover;
    }

    h1.typeinner{
        font-size: 26px;
        margin-top: 10px;
    }

    h2.typeinner{
        font-size: 18px;
    }

    /*type pages title*/
    .type{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    h1.type{
        margin-top: 80px; 
    }

    /* article */
    div.article{
        margin-left: 5%;
        margin-right: 5%;
    }

    h1.article{
        font-family: 'Noto Serif';
        font-size: 35px;
        margin-right: 0px; 
        margin-left: 0px; 
        text-align: center;
    }
    
    h2.article{
        margin-left: 10%;
    }

    .genre{
        margin-left: 10%;
    }

    .first_paragraph{
        margin-left: 3%;
        margin-right: 3%;
    }

    p.article{
        margin-left: 3%;
        margin-right: 3%;
    }
}
